{{#if Session.isAuthenticated}}
<div id="user-info">
    {{#link-to "index"}}
        {{#if VK.User.photo_50}}
            <img id="user-info-ava" src="{{VK.User.photo_100}}" width="45" height="45">
        {{else}}
            <img id="user-info-ava" src="/img/misc/no_photo.gif" width="45" height="45">
        {{/if}}
    {{/link-to}}
    <div style="margin-left:56px;">
        <div id="user-info-name">Hola, {{VK.User.first_name}}</div>
        <a id="user-logout" align="right" {{action 'logout'}}>Sign out</a>
    </div>
</div>

<div id="controls-hint">
    <b>[&larr;]</b> - Previous song,
    <b>[&rarr;]</b> - Next song,
    <b>[Space]</b> - Play/Pause,
    <b>(F)</b> - Search similar artists,
    <b>(T)</b> - Play artist top tracks<!--,
    <b>(I)</b> - Play similar to current artist-->
</div>
{{/if}}

{{outlet}}

{{#if vk_captcha_modal_shown}}
  {{#modal-dialog
                  targetAttachment="center"
                  translucentOverlay=true}}
    <div id="search">
        <form>
            <img src="{{vk_captcha_error.captcha_img}}">
            <div>{{input type="text" value=vk_captcha_code}}</div>
            <div><button type="submit" class="mL5px" {{action 'vkCaptchaCodeSubmit'}}>submit</button></div>
        </form>
    </div>
  {{/modal-dialog}}
{{/if}}